.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: min(5vw, 50px);
    gap: min(3vw, 30px);

    @media screen and (max-width: 768px){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 540px){
        grid-template-columns: 1fr;
    }


    &__item{
        border: 1px solid #000;

        &__name{
            
        }
    

        &__img{
            width: 100%;
            height: 100%;
        }
        &__desc{
            display: none;
        }
    }
}