.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: min(5vw, 50px);
    gap: min(3vw, 50px);

    @media screen and (max-width: 1110px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }


    &__item {
        // border: 1px solid #000;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        box-shadow: 0 10px 25px rgba(0, 0, 0, .35);

        &__title {
            position: absolute;
            top: 16px;
            left: 16px;
            padding: 10px 14px;
            border-radius: 12px;
            background: rgba(0, 0, 0, .7);
            color: #f6b21a;
            font-weight: 800;
            letter-spacing: .5px;
        }

        &__date {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, .7);
            color: #f6b21a;
            font-weight: 800;
            letter-spacing: .5px;
            padding: 10px 14px;
            border-radius: 12px;
            

        }

        &__desc {
            position: absolute;
            left: 8px;
            right: 8px;
            bottom: 0px;
            padding: 18px;
            border-radius: 16px;
            background: rgba(0, 0, 0, .55);
            color: #fff;
            transform: translateY(120%);
            transition: transform 1s ease;
            backdrop-filter: blur(3px);

        }

        &:hover .card__item__desc {
            transform: translateY(0);


        }
    }

}