.navbar {
    &__list {
        display: flex;
        gap: 20px;
        list-style: none;
        li {
            font-size: min(3.0vw, 30px);
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}