@import "./scss/reset";
@import "./scss/variable";
@import "./scss/mixins";


@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

body{

    font-family: "Concert One",cursive;
   
    background: linear-gradient(135deg, #f9efd4 0%, #ff7f5b 100%);
}


p{
    font-family: "Noto Sans", sans-serif;
}